<template>
  <div class="list">
    <div>
      <create-todo @on-new-todo="addTodo($event)" />
    </div>
    <div>
      <div >
        <ul>
          <todo
            v-for="(todo, index) in todos"
            :key="index"
            :TodoText="todo.newTodoText"
            @on-delete="deleteTodo(todo)"
          />
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Todo from "./Todo.vue";
import CreateTodo from "./CreateTodo.vue";

export default {
  name: "TodoList",
  data() {
    return {
      todos: [
        { newTodoText: "First Todo" },
        { newTodoText: "Second Todo" },
        { newTodoText: "Third Todo" }
      ]
    };
  },
  methods: {
    addTodo(newTodo) {
      this.todos.push({ newTodoText: newTodo });
    },

    deleteTodo(deletedTodo) {
      this.todos = this.todos.filter(todo => todo !== deletedTodo);
    }
  },
  components: { Todo, CreateTodo }
};
</script>


