<template>
  <div class="todo">
    <li>
        <span>{{ TodoText }}</span>      
      <button @click="$emit('on-delete')">X</button>
    </li>
  </div>
</template>

<script>
export default {
  name: "Todo",
  data() {
    return {
      newTodoText: ""
    };
  },
  props: {
    TodoText: String
  }
};
</script>
